html {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.9);
}

/* BODY LEVEL ELEMENTS */

h1 {
    font-family: monospace;
    font-size: 52px;
    font-weight: 200;
    text-align: center;
    letter-spacing: 10px;
    margin-bottom: 100px;
}

#score {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#buttons {
    display: flex;
    justify-content: center;
}

/* #1 SUB-BODY LEVEL ELEMENTS  */

#board {
    display:grid;
    height: 380px;
    width: 380px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

/* GRID ITEMS */

#board > div {
    width: 120px;
    height: 120px;
    background-color: #191919;
}

/* SHAPES */

.circle {
    display: block;
    width: 80px;
    height: 80px;
    background: #191919;
    border: 10px solid red;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

.cross {
    top:5px;
    left: 55px;
    background: red;
    height: 113px;
    position: relative;
    width: 10px;
    transform:rotate(45deg);
}
.cross:after {
    background: red;
    content: "";
    height: 10px;
    left: -51px;
    position: absolute;
    top: 51px;
    width: 113px;
}